alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
attrs==20.3.0
Babel==2.9.0
bump2version==1.0.1
bumpversion==0.6.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.4
distlib==0.3.1
docutils==0.16
execnet==1.8.0
filelock==3.0.12
flake8==3.8.4
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.8.0
pyparsing==2.4.7
pytest==6.2.2
pytest-colordots==1.1
pytest-cov==2.11.1
pytest-cover==3.0.0
pytest-coverage==0.0
pytest-forked==1.3.0
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-xdist==2.2.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
tox==3.22.0
urllib3==1.26.3
virtualenv==20.4.2
yapf==0.30.0
